{{ $currentPage := . }}
<div class="card xl:card-side bg-base-300 shadow-sm mb-4 overflow-hidden">
    {{- with index .Params.images 0 }}
        <a href="{{ $currentPage.RelPermalink }}" class="flex items-center justify-center">
        {{- $imagePath := . }}
        {{- with $currentPage.Resources.GetMatch $imagePath }}
            <img loading="lazy" class="object-cover w-full h-full" src="{{ .RelPermalink }}" alt="{{ $.Title }} Teaser Image" />
        {{- else }}
            <img loading="lazy" src="{{ $imagePath | relURL }}" alt="{{ $.Title }} Teaser Image" />
        {{- end }}
        </a>
    {{- end }}
    <div class="card-body">
        <div class="content">
        <h2 class="text-2xl mb-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        <p class="text-sm text-gray-500 mb-2">
            {{- .Date.Format "January 2, 2006" }}
        </p>
        {{- .Summary | truncate 200 }}
        </div>
        <div class="card-actions mt-2 justify-end">
            <a class="btn btn-outline btn-primary btn-md" href="{{- .Permalink }}">View post</a>
        </div>
    </div>
</div>
